<ul>
  <li
    *ngFor="let v of videos"
    (click)="selectVideo(v)"
    [class.highlighted]="v.id === selectedVideo?.id"
  >
    <app-video-thumbnail [video]="v"></app-video-thumbnail>
  </li>
</ul>
