<app-video-list
  [videos]="videoList | async"
  [selectedVideo]="currentVideo"
  (chooseVideo)="setSelectedVideo($event)"
></app-video-list>
<app-video-player [video]="currentVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
