/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

.highlighted {
  background-color: teal;
}

app-dashboard,
app-video-list,
app-video-player,
app-video-thumbnail,
app-stat-filters {
  display: block;
  border: 3px solid green;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

app-video-dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
